﻿<!DOCTYPE html>
<html style="overflow: hidden;">
<head>
    <title>NFine快速开发平台</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/dialog/dialog.js"></script>
    <script src="~/Content/js/cookie/jquery.cookie.js"></script>
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <script src="~/Content/js/framework-ui.js"></script>
    <script src="~/Content/js/framework-clientdata.js"></script>
</head>
<body style="overflow: hidden;">
    <div id="ajax-loader" style="cursor: progress; position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #fff; z-index: 10000; overflow: hidden;">
        <img src="~/Content/img/ajax-loader.gif" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;" />
    </div>
    <div id="theme-wrapper">
        <header class="navbar" id="header-navbar">
            <div class="container" style="padding-right: 0px;">
                <a href="#" id="logo" class="navbar-brand" style="font-size: 18px; padding-top: 5px;">
                    菏泽市立医院</br>三甲评审质控平台
                </a>
                <div class="clearfix">
                    <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                        <ul class="nav navbar-nav pull-left">
                            <li>
                                <a class="btn" id="make-small-nav"><i class="fa fa-bars"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-no-collapse pull-right" id="header-nav">
                        <ul class="nav navbar-nav pull-right">
                            <li class="mobile-search">
                                <a class="btn">
                                    <i class="fa fa-search"></i>
                                </a>
                                <div class="drowdown-search">
                                    <form role="search">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <i class="fa fa-search nav-search-icon"></i>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="dropdown hidden-xs">
                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-tasks"></i>
                                    <span class="count">5</span>
                                </a>
                            </li>
                            <li class="dropdown hidden-xs">
                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell"></i>
                                    <span class="count">8</span>
                                </a>
                            </li>

                            <li class="dropdown hidden-xs">
                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="count">16</span>
                                </a>
                            </li>
                            <li class="dropdown profile-dropdown">
                                <a href="#" class="dropdown" data-toggle="dropdown">
                                    <img src="~/Content/img/samples/scarlet-159.png" alt="" />
                                    <span class="hidden-xs">@NFine.Code.OperatorProvider.Provider.GetCurrent().UserCode</span>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a class="menuItem" data-id="userInfo" href="/SystemManage/User/Info"><i class="fa fa-user"></i>个人信息</a></li>
                                    <li><a href="javascript:void();"><i class="fa fa-inbox"></i>我的信箱</a></li>
                                    <li><a href="javascript:void();" onclick="layer.msg('浏览器缓存清除成功');"><i class="fa fa-trash-o"></i>清空缓存</a></li>
                                    <li><a href="javascript:void();"><i class="fa fa-paint-brush"></i>皮肤设置</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/Login/OutLogin"><i class="ace-icon fa fa-power-off"></i>安全退出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="page-wrapper" class="container">
            <div class="row">
                <div id="nav-col">
                    <section id="col-left" class="col-left-nano">
                        <div id="col-left-inner" class="col-left-nano-content">
                            <div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
                                <img alt="" src="~/Content/img/samples/scarlet-159.png" />
                                <div class="user-box">
                                    <span class="name">
                                        @NFine.Code.OperatorProvider.Provider.GetCurrent().UserCode;@NFine.Code.OperatorProvider.Provider.GetCurrent().UserName
                                    </span>
                                    <span class="status">
                                        <i class="fa fa-circle"></i>在线
                                    </span>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="nav-header hidden-sm hidden-xs">
                                        常用菜单
                                        <i class="fa fa-gear" style="color: #868b98; font-size: 12px; margin-top: -6px; position: absolute; right: 23px; top: 50%; cursor: pointer;"></i>
                                    </li>
                                    <li class="common">
                                        <a href="#">
                                            <i class="fa fa-star-o"></i>
                                            <span>联系人</span>
                                        </a>
                                    </li>
                                    <li class="common">
                                        <a href="#">
                                            <i class="fa fa-star-o"></i>
                                            <span>合同</span>
                                        </a>
                                    </li>
                                    <li class="common">
                                        <a href="maps.html">
                                            <i class="fa fa-star-o"></i>
                                            <span>产品</span>
                                        </a>
                                    </li>
                                    <li class="common">
                                        <a href="#">
                                            <i class="fa fa-star-o"></i>
                                            <span>客户</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="content-wrapper">
                    <div class="content-tabs">
                        <button class="roll-nav roll-left tabLeft">
                            <i class="fa fa-backward"></i>
                        </button>
                        <nav class="page-tabs menuTabs">
                            <div class="page-tabs-content" style="margin-left: 0px;">
                                <a href="javascript:;" class="menuTab active" data-id="/Home/Default">欢迎首页</a>
                                <a href="javascript:;" class="menuTab" data-id="/Home/About" style="padding-right: 15px;">平台介绍</a>
                            </div>
                        </nav>
                        <button class="roll-nav roll-right tabRight">
                            <i class="fa fa-forward" style="margin-left: 3px;"></i>
                        </button>
                        <div class="btn-group roll-nav roll-right">
                            <button class="dropdown tabClose" data-toggle="dropdown">
                                页签操作<i class="fa fa-caret-down" style="padding-left: 3px;"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="tabReload" href="javascript:void();">刷新当前</a></li>
                                <li><a class="tabCloseCurrent" href="javascript:void();">关闭当前</a></li>
                                <li><a class="tabCloseAll" href="javascript:void();">全部关闭</a></li>
                                <li><a class="tabCloseOther" href="javascript:void();">除此之外全部关闭</a></li>
                            </ul>
                        </div>
                        <button id="fullscreen" class="roll-nav roll-right fullscreen"><i class="fa fa-arrows-alt"></i></button>
                    </div>
                    <div class="content-iframe" style="background-color: #f9f9f9; overflow: hidden;">
                        <div class="mainContent" id="content-main" style="margin: 10px; margin-bottom: 0px; padding: 0;">
                            <iframe class="NFine_iframe" width="100%" height="100%" src="/Home/Default" frameborder="0" data-id="/Home/Default"></iframe>
                            <iframe class="NFine_iframe" width="100%" height="100%" src="/Home/About" frameborder="0" data-id="/Home/About"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loadingPage" style="display: none;">
        <div class="loading-shade"></div>
        <div class="loading-content" onclick="$.loading(false)">数据加载中，请稍后…</div>
    </div>
    <script src="~/Content/js/index.js"></script>
    <script src="~/Content/js/indextab.js"></script>
    <script src="~/Content/js/loading/pace.min.js"></script>
    <script>
        window.isflsgrn = false; //ie11以下是否进入全屏标志，true为全屏状态，false为非全屏状态
        window.ieIsfSceen = false; //ie11是否进入全屏标志，true为全屏状态，false为非全屏状态
        //跨浏览器返回当前 document 是否进入了可以请求全屏模式的状态
        function fullscreenEnable() {
            var isFullscreen = document.fullscreenEnabled ||
                window.fullScreen ||
                document.mozFullscreenEnabled ||
                document.webkitIsFullScreen;
            return isFullscreen;
        }
        //全屏
        var fScreen = function () {
            var docElm = document.documentElement;
            if (docElm.requestFullscreen) {
                docElm.requestFullscreen();
            } else if (docElm.msRequestFullscreen) {
                docElm.msRequestFullscreen();
                ieIsfSceen = true;
            } else if (docElm.mozRequestFullScreen) {
                docElm.mozRequestFullScreen();
            } else if (docElm.webkitRequestFullScreen) {
                docElm.webkitRequestFullScreen();
            } else { //对不支持全屏API浏览器的处理，隐藏不需要显示的元素
                window.parent.hideTopBottom();
                isflsgrn = true;
                $("#fsbutton").text("退出全屏");
            }
        }
        //退出全屏
        var cfScreen = function () {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitCancelFullScreen) {
                document.webkitCancelFullScreen();
            } else {
                window.parent.showTopBottom();
                isflsgrn = false;
                $("#fsbutton").text("全屏");
            }
        }
        //全屏按钮点击事件
        $("#fullscreen").click(function () {
            var isfScreen = fullscreenEnable();
            if (!isfScreen && isflsgrn == false) {
                if (ieIsfSceen == true) {
                    document.msExitFullscreen();
                    ieIsfSceen = false;
                    return;
                }
                fScreen();
            } else {
                cfScreen();
            }
        })
        //键盘操作
        $(document).keydown(function (event) {
            if (event.keyCode == 27 && ieIsfSceen == true) {
                ieIsfSceen = false;
            }
        });
        //监听状态变化
        //if (window.addEventListener) {
        //    document.addEventListener('fullscreenchange', function () {
        //        if ($("#fsbutton").text() == "全屏") {
        //            $("#fsbutton").text("退出全屏");
        //        } else {
        //            $("#fsbutton").text("全屏");
        //        }
        //    });
        //    document.addEventListener('webkitfullscreenchange', function () {
        //        if ($("#fsbutton").text() == "全屏") {
        //            $("#fsbutton").text("退出全屏");
        //        } else {
        //            $("#fsbutton").text("全屏");
        //        }
        //    });
        //    document.addEventListener('mozfullscreenchange', function () {
        //        if ($("#fsbutton").text() == "全屏") {
        //            $("#fsbutton").text("退出全屏");
        //        } else {
        //            $("#fsbutton").text("全屏");
        //        }
        //    });
        //    document.addEventListener('MSFullscreenChange', function () {
        //        if ($("#fsbutton").text() == "全屏") {
        //            $("#fsbutton").text("退出全屏");
        //        } else {
        //            $("#fsbutton").text("全屏");
        //        }
        //    });
        //}
    </script>
</body>
</html>
