﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jquery调用WebApi</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/css/framework-about.css" rel="stylesheet" />
</head>
<body>
    <input id="username" value="admin" name="用户名" />
    <input id="password" value="0000" name="密码" />
    <button onclick="btnGetToken();">获取Token</button>
    <button onclick="btnRefreshToken()">刷新Token</button>
    <button onclick="btnRemoveToken()">移除Token</button>
    <button onclick="btnApiMethod()">调用接口</button>

    <script src="~/Content/js/cookie/jquery.cookie.js"></script>
    <!--用于Web.API接口测试-->
    <script type="text/javascript">
        var apiServiceBaseUri = "http://localhost:51250/";
        var request = {
            "grant_type": "password",
            "username": $("#username").val(),
            "password": $("#password").val()
        };

        function btnGetToken() {
            $.ajax({
                url: apiServiceBaseUri + "token",
                type: "post",
                data: request,
                //contentType: "application/x-www-form-urlencode",     //一定要注释掉，不然会报跨域问题
                dataType: "json",
                success: function (data) {
                    $.cookie("token", data.access_token);
                    $.cookie("refresh_token", data.refresh_token);

                    console.log(data);
                },
                error: function (msg) {
                    console.log(msg);
                }
            });
        }

        function btnRefreshToken() {
            btnCheckTokenExpired();
            //$.ajax({
            //    url: apiServiceBaseUri + "token",
            //    type: "post",
            //    data: {
            //        "grant_type": "refresh_token",
            //        "refresh_token": $.cookie("refresh_token")
            //    },
            //    //contentType: "application/x-www-form-urlencode",     //一定要注释掉，不然会报跨域问题
            //    //dataType: "json",
            //    dataType: 'jsonp',
            //    crossDomain: true,
            //    success: function (data) {
            //        $.cookie("token", data.access_token);
            //        $.cookie("refresh_token", data.refresh_token);

            //        console.log(data);
            //    },
            //    error: function (msg) {
            //        console.log(msg);
            //    }
            //})
            $.ajax(apiServiceBaseUri + "token", {
                data: {
                    "grant_type": "refresh_token",
                    "refresh_token": $.cookie("refresh_token")
                },
                dataType: 'jsonp',
                crossDomain: true,
                success: function (data) {
                    if (data && data.resultcode == '200') {
                        console.log(data.result.today);
                    }
                }
            });
        }

        var btnApiMethod = function () {
            btnCheckTokenExpired();
            var getMethodUri = "api/Test/1";
            $.ajax({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + $.cookie("token"));
                },
                //headers: {
                //    "Authorization": "Bearer " + accessToken
                //},
                url: apiServiceBaseUri + getMethodUri,
                type: "get",
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                }
            })
        };

        var btnCheckTokenExpired = function () {
            if ($.cookie("token") == null || $.cookie("refresh_token") == null) {
                btnGetToken();
            }
        }

        var btnRemoveToken = function () {
            $.cookie("token", null);
            $.cookie("refresh_token", null);
        }
    </script>
</body>
</html>
